@mixin borderBlack {
  border: 1px solid black;
}

@mixin borderGreen {
  border: 1px solid green;
}

@mixin borderRed {
  border: 1px solid red;
}

@mixin borderYellow {
  border: 1px solid yellow;
}

@mixin borderBlue {
  border: 1px solid blue;
}

@mixin borderGray {
  border: 1px solid gray;
}